.container {
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  margin-inline: auto; 
  position:relative; 
  overflow: hidden;
  color: white;
}

.game-nav {
  height: 10vh;
  font-weight: bold;
}

.game-container{
  height: 100%; 
  width: 100%;
  margin-inline: auto; 
  position:relative; 
  flex-grow: 1;
  border: red 2px solid;
}
.ball {
  position: absolute;
  border-radius: 50%; 
  height: 50px;
  width: 50px; 
  background-color: black;
}

.ball::after {
  border-radius: 50%; 
  content: '';
  height: 100%; 
  width: 100%; 
  position: absolute; 
  top: 0; 
  left: 0;
  background: radial-gradient(103.48% 103.48% at 23.91% 22.61%, #A4C2A5 0%, #000000 100%)
}


.counter {
  font-size: 5rem;
  position: relative;
}


.timer {
  font-size: 2rem;
  position: relative;
}

.accuracy {
  font-size: 2rem;
  position: relative;
}


.w-1 {width: 1rem}
.w-2 {width: 2rem}
.w-3 {width: 3rem}
.w-4 {width: 4rem}
.w-5 {width: 5rem}
.w-6 {width: 6rem}
.w-7 {width: 7rem}
.w-8 {width: 8rem}


.scoreboard {
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.5);
  position: absolute; 
  top: 30%; 
  left: 30%; 
  right: 30%; 
  bottom: 30%; 
  background: white; 
  color: black;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}

.scoreboard div {
  display: flex;
  gap: 10px; 
}

.scoreboard div button {
  outline: none;

}